<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.imcloud.app.aichat">

    <!-- [START storage_permission] -->
    <!-- [START Internet permission] -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- [START Location permission] -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="kr.co.imcloud.app.aichat.AIChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name="kr.co.imcloud.app.aichat.SetIPActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kr.co.imcloud.app.aichat.ui.common.dialog.NetworkDialogActivity"
            android:label="@string/title_activity_network_dialog"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="kr.co.imcloud.app.aichat.ui.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="kr.co.imcloud.app.aichat.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1d737e1409b0ba96f4e30a176806ce41f71d38b7"
            />

    </application>

</manifest>